<h2>Articles list</h2>
<a href="<%=articles_index_path %>">Articles list</a>
<table>
	<tr>
		<th> Name</th>
		<td><%=@articles.name %></td>
	</tr>
	<tr>
		<th>Content</th>
		<td><%=@articles.content %></td>
	</tr>
	<tr>
		<th>Price</th>
		<td><%=@articles.price %></td>
	
	</tr>
</table>