<h1>show user</h1>
<a href="<%= users_index_path %>"> Back to list</a>
<table>
<tr>
	<th>first name</th>
	<td><%=@users.first_name %></td> 
</tr>
<tr>
	<th>last name</th>
	<td><%=@users.last_name %></td>
</tr>
<tr>
	<th>contact</th>
	<td><%=@users.contact%></td>
</tr>

</table>